%div
  %h1.text-uppercase= @batch.name
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Phone

  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.email
        %td= '******'+student.phone[-4..-1].to_s
%br
