*{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fcfcfc;
  font-weight: 300;
  letter-spacing: -0.02em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #cdcdcd;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
  // padding: 30px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a{
  &:hover{
    text-decoration: none;
  }
}

.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
}

.docs-section {
  margin-bottom: 60px;
  .callout {
    padding: 15px 20px 15px 20px;
    margin: 15px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .callout-info {
    border-left-color: #1b809e;
    h4 {
      color: #1b809e;
    }
  }
  .bs-callout-warning {
    border-left-color: #aa6708;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: inherit;
}
.apq {
  font-size: 85%;
  letter-spacing: .15em;
  color: #888888;
  text-transform: uppercase;
  cite {
    display: block;
    margin-top: 30px;
    font-size: 12px;
    font-style: normal;
    letter-spacing: .15em;
    color: #aaaaaa;
    text-transform: uppercase;
  }
}
