- (current_student || current_teacher).batches.each do |batch|
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= batch.name
        %span= batch.account.name
      .panel-body
        .list-group
          - @exams.each do |exam|
            %a.list-group-item{:href => "#"}
              %h5.list-group-item-heading= exam.name
              %p.list-group-item-text= exam.start_time

