.col-md-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title Institutes
    .panel-body
      .list-group
        - @accounts.each do |account|
          .list-group-item= account.name
.col-md-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title Newly Published
    .panel-body
      .list-group
        - @papers.each do |paper|
          .list-group-item= paper.name
.col-md-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title Upcoming Exams
    .panel-body
      .list-group
        - @exams.each do |exam|
          .list-group-item= exam.name
